name: "Test"
on:
  workflow_dispatch:
jobs:
  main:
    name: "Main"
    runs-on: "${{matrix.os}}"
    strategy:
      matrix:
        os:
          - "macos-latest"
          - "ubuntu-latest"
          - "windows-latest"
      fail-fast: false
    steps:
      - name: "Optimize Disk Space"
        uses: "hugoalh/disk-space-optimizer-ghaction@main"
        with:
          general_include: ".+"
          aptcache: "True"
          dockerimage_include: ".+"
          dockerimage_exclude: |-
            ^debian:
          swap: "True"
